@import "tailwindcss";

@theme {
  --color-space-950: #020617;
  --color-space-900: #0f172a;
  --color-space-accent: #22d3ee;
}

@layer base {
  body {
    @apply bg-space-950 text-slate-200 antialiased overflow-x-hidden;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #020617;
}

/* Custom Scrollbar for the "Pro" look */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #22d3ee; }